<div class="row">
  <div class="span8 well">
    <em>"<%= comment.body %>"</em>
    <p>
      <span class="quiet">By </span><%= comment.creator.username %>
      <small>at <%= display_datetime(comment.created_at) %></small>
    </p>
  </div>
</div>